name: Laboratorio Final DevSecOps

on:
  push: 
    branches: ["**"]          # se ejecuta en cada commit a cualquier rama

permissions:
  contents: read
  security-events: write
  pull-requests: read

jobs:
  anlisis-SAST:
    runs-on : ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  
      
      - name: Variables de Entorno y contexto
        run: |
          echo "Verificando Variables..."
          echo "Repositorio              : $GITHUB_REPOSITORY"
          echo "Actor                    : $GITHUB_ACTOR"
          echo "Evento                   : $GITHUB_EVENT_NAME"
          echo "Branch                   : $GITHUB_REF_NAME"
          echo "Commit                   : $GITHUB_SHA"

      #- name: Sonar API check - project visibility
      #  env:
      #    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #  run: |
      #    set -e
      #    ORG="laboratorio1"
      #    PROJ="fraactal_devsecops-laboratorio"
      #    URL="https://sonarcloud.io/api/projects/search?organization=${ORG}&projects=${PROJ}"
      #    echo "GET $URL"
      #    CODE=$(curl -s -o resp.json -w "%{http_code}" -u "$SONAR_TOKEN:" "$URL")
      #    echo "HTTP $CODE"; head -c 400 resp.json || true
      #    test "$CODE" = "200"

      - name: analisis de Codigo SAST
        id: AnalisisSAST
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          #GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Github lo configura de forma automatica, no es necesario incluirlo 
          SONAR_TOKEN:  ${{ secrets.SONAR_TOKEN }} 


      - name: Esperar procesamiento (Compute Engine)
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          set -e
          PROJ="fraactal_devsecops-laboratorio"
          BR="${GITHUB_REF_NAME}"

          echo "Esperando CE para ${PROJ} (branch=${BR}) ..."
          ATTEMPTS=50
          SLEEP=6
          for i in $(seq 1 $ATTEMPTS); do
            URL="https://sonarcloud.io/api/ce/activity?component=${PROJ}&branch=${BR}&onlyCurrents=true"
            JSON=$(curl -s -u "$SONAR_TOKEN:" "$URL")
            STATUS=$(echo "$JSON" | jq -r '.tasks[0].status // "NONE"')
            TASKID=$(echo "$JSON" | jq -r '.tasks[0].id // ""')
            echo "Intento $i: CE task=${TASKID:-<none>} status=${STATUS}"

            case "$STATUS" in
              SUCCESS)
                echo "CE OK (procesado)."
                break
                ;;
              FAILED|CANCELED)
                echo "CE terminó en estado $STATUS"; echo "$JSON" | jq .
                exit 1
                ;;
              NONE|PENDING|IN_PROGRESS|null|"")
                # sigue esperando
                ;;
              *)
                echo "Estado desconocido: $STATUS (seguiré esperando)"
                ;;
            esac
            sleep $SLEEP
          done

      - name: Bloqueao x vulnerabilidades Crit/Alta/Media
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          set -e
          ORG="laboratorio1"
          PROJ="fraactal_devsecops-laboratorio"
          BR="${GITHUB_REF_NAME}"
          BASE="https://sonarcloud.io/api/issues/search?organization=${ORG}&projectKey=${PROJ}&types=VULNERABILITY&statuses=OPEN,CONFIRMED,REOPENED&branch=${BR}&ps=1"

          get_total () { 
            curl -s -u "$SONAR_TOKEN:" "${BASE}&severities=$1" | jq -r '.total'
          }

          C=$(get_total CRITICAL)
          H=$(get_total MAJOR)
          M=$(get_total MINOR)

          echo "Vulnerabilidades abiertas (branch=$BR):"
          echo "  CRITICAL: $C"
          echo "  MAJOR   : $H"
          echo "  MINOR   : $M"

          TOTAL=$((C+H+M))
          if [ "$TOTAL" -gt 0 ]; then
            echo "SAST FAIL: Se encontraron vulnerabilidades Crit/Alta/Media = $TOTAL"
            echo "Ver: https://sonarcloud.io/dashboard?id=${PROJ}&branch=${BR}&resolved=false"
            exit 1
          else
            echo "SAST OK: Sin vulnerabilidades Crit/Alta/Media abiertas."
          fi


     # - name: Resultado SAST
     #   if: ${{ success() }}
     #   run: echo "SAST finalizado. Revisa el Quality Gate en SonarCloud."



#  anlisis-SCA:
#    runs-on : ubuntu-latest
#    #needs: [AnalisisSAST]  # este job corre después de AnalisisSAST
#    steps:
#      - name: analisis de Codigo SCA
#        run:
#          echo "analisis de Codigo SCA"
          
#  Build-Docker:
#    runs-on : ubuntu-latest
#    steps:
#      - name: Build Docker
#        run:
#          echo "Build Docker"
##      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)


#  Image-Security:
#    runs-on : ubuntu-latest
#    steps:
#      - name: Image Security
#        run:
#          echo "Image Security"


#1. Clonación del repositorio.
#2. Ejecutar SAST -> Usar SonarCloud o herramienta similar.
#3. Ejecutar SCA ->Usar Dependency Check o similar.
#4. Construcción de la Imagen Docker.
#5. Image Security -> Usar Trivy o similar.
  
